@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
header{
    position: fixed;
    top: 0;
    z-index: 10;
    background:transparent;
    padding: 2rem;
    width: 100%;
    height: 100px;
    display: flex;
    color: white;
    justify-content: space-between;
}
.active-header{
    box-shadow: 5px 5px 10px rgb(128, 128, 128,0.15);
    color: black;
    background-color: rgb(227, 52, 52);
}
header h1{
    position: absolute;
    top: 1.75rem;
    left:3rem;
    font-size: 3rem;
    font-family: 'Ubuntu',sans-serif;
    letter-spacing: 1.5px;
}
.heading img{
    position: absolute;
    width: 2.2rem;
    height: 1.5rem;
    top: -0.65rem;
    left: -0.15rem;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
    font-size: 1.2rem;
    gap: 4rem;
}
.nav-btn{
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: 'Source Code Pro',monospace;
}
.nav-btn:hover{
    color: rgb(218, 142, 50);
}
#home{
    background-image: url("./home-image.jpg");
    background-size:cover ;
}
.home-container{
    background-color: rgb(0, 0, 0,0.5);
    display: flex;
    justify-content: space-between;
    padding: 14rem 7rem;
    min-height: 100vh;
}
.home-heading{
    color: white;
}
.home-heading h1{
    font-size: 5rem;
    line-height: 1.3;
    font-family: 'Poppins',sans-serif;
}
.home-heading p{
    font-size: 2rem;
    width: 70%;
    padding: 1rem 0;
    font-style: italic;
    font-family: 'Ubuntu',sans-serif;
}
.checkout{
    /* width: 100%; */
    display: flex;
    justify-content:center;
    align-items: center;
}
.checkout-btns{
    text-align: center;
    box-sizing: content-box;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border: 2px solid;
    background: transparent;
    width: 8rem;
    display: inline-block;
    margin: 1.75rem;
    cursor: pointer;
    padding:0.5rem;
    font-family: 'Oswald',sans-serif;
}
.checkout-btns:hover{
    background-color: white;
    color: rgb(0, 0, 0);
}
#menu{
    background:url("./menu-image.jpg");
    background-size: cover;
    text-align: center;
}
.menu-container>h1{
    font-family: 'Ubuntu',sans-serif;
    font-size: 3rem;
    color: white;
    width: 100%;
    border-bottom: 3px solid;
    padding: 2rem;
}
.menu-container{
    padding: 7rem 0;
    background-color: rgb(0, 0, 0,0.5);
}
.menu-item span::before{
    content: "\20B9";
}
.menu-item{
    width: 18rem;
    margin: 2rem;
    background-color: rgb(255, 216, 157,0.5);
    border-radius: 15px;
}
.menu-item img{
    width: 18rem;
    height: 10rem;
    object-fit: cover;
    border: 2px solid white;
    border-top-right-radius: 15px;
    border-top-left-radius:15px ;
}
.item-description{
    font-family: 'Poppins',sans-serif;
    padding: 1rem 1rem;
}
.menu-item-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.item-description h1{
    display: inline-block;
    font-family: 'Ubuntu',sans-serif;
    padding:0rem 2rem 0.5rem  0;
    text-transform: capitalize;
}
.item-description span{
    font-size: 1.3rem;
    color: rgb(182, 0, 0);
}
.item-description p{
    color: rgb(255, 255, 255);
    border-top: 1px solid black;
    padding-top: 0.5rem;
    font-style: italic;
    font-size: 0.9rem;
}
.item-price{
    display: flex;
    justify-content: space-between;
}
.option-buttons{
    padding: 2rem;
    display: flex;
    justify-content: center;
}
.option-btn{
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    font-family: 'Ubuntu',sans-serif;
    font-size: 1rem;
    background: transparent;
    color: bisque;
    font-weight: 600;
    width: 7rem;
    cursor: pointer;
    border: 2px solid;
}
.option-btn:hover{
    background-color: bisque;
    color: black;
    border: 2px solid black;
}
.active-option-btn{
    background-color: bisque;
    color: black;
    border: 2px solid black;
}
#reviews{
    background-image: url("./review-image.jpg");
    background-size: cover;
}
.review-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0,0.5);
    width: 100%;
    padding:6rem 0rem;
    min-height: 100vh;
}
.review-container>h1{
    font-size: 4rem;
    font-family: 'Ubuntu',sans-serif;
    color: white;
    padding: 1rem;
}
.review-box{
    width: 75%;
    max-width: 50rem;
    height: 30rem;
    background-color: rgb(255, 255, 255);
    margin:2rem;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    align-items: center;
    position: relative;
    border: 2px solid;
    text-align: center;
}
.review-box img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid;
}
.review-box h1{
    font-size: 1.5rem;
    font-family: 'Oswald',sans-serif;
    letter-spacing: 1px;
}
.review-box p{
    font-style: italic;
    font-size: 1rem;
}
.review-box i{
    position: absolute;
    font-size: 2rem;
    color: rgb(255, 255, 255,0.6);
    cursor: pointer;
    background-color: rgb(0, 0, 0,0.5);
    padding: 0.4rem 0.2rem;
    top: 45%;
}
.review-box i:hover{
    color: rgb(255, 255, 255);
}
.left-arrow{
    left: 1rem;
}
.right-arrow{
    right: 1rem;
}
#booking{
    background-image: url("./booking-image.jpg");
    background-size: cover;
}
#booking form{
    display: flex;
    background-color: rgb(197, 157, 95,0.75);
    flex-direction: column;
    gap: 1rem;
    width: 75%;
    max-width: 50rem;
    padding: 3rem 1rem;
    margin: 4rem;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins',sans-serif;
}
.booking-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0,0.5);
    min-height: 100vh;
}
.booking-container>h1{
    font-size: 4rem;
    color: white;
    font-family: 'Ubuntu',sans-serif;
    padding-top: 7rem;
}
.booking-container input[type="text"]{
    padding:0.5rem 1rem;
    margin: 0.5rem;
    letter-spacing: 0.5px;
    font-size: 1rem;
}
.customer-details{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.customer-count label{
    font-size: 1.25rem;
}
.customer-count input{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}
.booking-container textarea{
    max-width: 30rem;
    width: 90%;
    font-family:'Ubuntu',sans-serif ;
    padding: 1rem;
}
.booking-container input[type="submit"]{
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    background: blue;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 0.8rem;
    border: 2px solid blue;
}
.booking-container input[type="submit"]:hover{
    background-color: white;
    color: blue;
}
#questions{
    background-color: bisque;
}
.question-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    min-height: 100vh;
}
.question-box{
    width: 85%;
    max-width: 50rem;
    margin: 1rem;
    background-color: white;
    box-shadow: 3px 3px 15px rgb(0, 0, 0,0.25);
    border-radius: 10px;
    position: relative;
}
.question{
    font-family: 'Oswald',sans-serif;
    font-size: 1rem;
    padding: 2rem 3rem;
    letter-spacing: 2px;
}
.answer{
    font-family: 'Ubuntu',sans-serif;
    font-size: 0.9rem;
    height: 0;
    overflow-y: hidden;
    line-height: 1.6;
    padding: 0rem 3rem;
    transition: all 0.4s ease-in-out ;
}
.show-answer{
    height: 5rem;
    border-top: 2px solid;
    padding: 1rem 3rem;
}
.question i{
    position: absolute;
    right: 1.5rem;
    top: 2rem;
    font-size: 1.5rem;
    color: rgb(119, 119, 84);
    cursor: pointer;
}
.question-container>h1{
    font-size: 3rem;
    font-family: 'Ubuntu',sans-serif;
    padding: 2rem;
    color: black;
}
.about-box{
    width: 95%;
    max-width: 60rem;
    background-color:rgb(227, 227, 227);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family:'Montserrat',sans-serif;
    padding: 1rem 3rem;
    line-height: 1.6;
}
.icons a{
    font-size: 1.5rem;
    color: black;
    padding-right: 1rem;
}
.icons a:hover{
    color: dodgerblue;
}
.icons{
    margin-top: 1rem;
}
.about-box h1{
    font-size: 2rem;
    padding: .5rem;
}
.branches ul{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
#about{
    background-image: url("./about-image.jpg");
    background-size: cover;
}
.about-container{
    background-color: rgb(0, 0, 0,0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    min-height: 100vh;
}
.about-container>h1{
    font-size: 4rem;
    color: white;
    font-family: 'Ubuntu',sans-serif;
    padding: 3rem 0;
}
#burgerbtn{
    font-size: 2rem;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    outline: none;
}
@media (max-width:1150px) {
    .home-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .home-heading{
        text-align: center;
    }
    .home-heading p{
        width: 100%;
    }
    .checkout{
        width: 100%;
        justify-content: center;
    }
}
@media (max-width:840px) {
    .home-container{
        padding: 12rem 2rem;
    }
    .home-heading h1{
        font-size:4rem;
    }
    section{
        min-height: 100vh;
    }
    #burgerbtn{
        display: block;
    }
    .home-heading p{
        font-size: 1.5rem;
    }
    .checkout-btns{
        font-size: 1rem;
        width:6rem;
    }
    .question-container h1{
        padding: 1rem;
    }
    .review-container>h1{
        font-size: 3rem;
    }
    .booking-container>h1{
        font-size: 3rem;
    }
    nav ul{
        background-color: white;
        flex-direction: column;
        position: absolute;
        top: 6.25rem;
        right: 0;
        width: 100%;
        height: 100vh;
        padding: 0;
        justify-content: flex-start;
        gap: 0;
        transform: translateX(100%);
        transition: 0.4s ease-in-out;
    }
    .nav-btn{
        color: black;
        padding: 2.5rem 2rem;
    }
    .nav-btn:hover{
        background-color: rgb(30, 144, 255,0.5);;
        transition: 0.4s ease-in-out;
        color: dodgerblue;
        padding-left: 3rem;
    }
    .show-nav{
        transform: translateX(0);
    }
}
@media (max-width:535px){
    header h1{
        left: 1.25rem;
        top: 1.25rem;
        font-size: 2.25rem;
    }
    #burgerbtn{
        top: 1.5rem;
        right:1.5rem;
    }
    header{
        height: 5rem;
    }
    .heading img{
        width: 1.5rem;
        height: 1rem;
        top: -0.45rem;
        left: -0.1rem;
    }
    .home-heading h1{
        font-size: 2.5rem;
    }
    .home-heading p{
        font-size: 1rem;
    }
    nav ul{
        top: 5rem;
    }
    .question-container{
        padding: 1rem;
    }
    .review-box i{
        font-size: 1.5rem;
    }
    .answer{
        overflow-y: scroll;
    }
}